:root {
  font-family: "Courier New", monospace;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#app {
  height: 100%;
}
button {
  font-family: "Courier New", monospace;
  font-weight: 700;
}
button:hover {
  border: solid 2px black;
}
button:active {
  background: rgb(239, 238, 238);
}
input {
  font-family: "Courier New", monospace;
  font-weight: 700;
  padding: 0 8px;
}
input:focus {
  outline-width: 0;
  border: solid 2px black;
  height: 28px;
}

input:hover {
  border: solid 2px black;
  height: 28px;
}
select {
  font-family: "Courier New", monospace;
  padding: 0 8px;
  border: solid 1px black;
  border-radius: 3px;
  appearance: none;
}
select:hover {
  border: solid 2px black;
  border-radius: 3px;
}
select:active {
  background: rgb(239, 238, 238);
  border-radius: 3px;
}
