:root {
  font-family: "Courier New", monospace;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#app {
  height: 100%;
}
button {
  font-family: "Courier New", monospace;
  font-weight: 700;
  background: black;
  color: white;
  border: solid 1px black;
  border-radius: 3px;
  height: 30px;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 0.6;
}
input {
  font-family: "Courier New", monospace;
  font-weight: 700;
  padding: 0 8px;
  height: 30px;
  border: solid 1px black;
  border-radius: 3px;
  margin: 1px;
  outline: none;
}
input:focus {
  outline-width: 0;
  border: solid 2px black;
  margin: 0;
}

input:hover {
  margin: 0;
  border: solid 2px black;
}
select {
  font-family: "Courier New", monospace;
  padding: 0 8px;
  border: solid 1px black;
  border-radius: 3px;
  appearance: none;
  color: black;
  background: white;
  height: 30px;
}
select:hover {
  border: solid 2px black;
  border-radius: 3px;
}
select:active {
  background: rgb(239, 238, 238);
  border-radius: 3px;
}
